name: Renovate

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:
    inputs:
      logLevel:
        default: info
        description: Override default log level
        required: false
        type: string

permissions:
  contents: read
  issues: write
  pull-requests: write
  security-events: read

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Renovate
        uses: renovatebot/github-action@v44.2.3
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
          RENOVATE_REPOSITORIES: ${{ vars.RENOVATE_REPOSITORIES }}
